data
Documents
presentation
Thesis
Analytics/32bdata
Analytics/32cdata
Analytics/32data
Analytics/32ddata

*.txt
*.x
*.mod
*.png
*.jpg
pict*
bonds*
*.dat


Analytics/*.dat
Analytics/*.png
Diffusion/*.dat
Handler/*.dat
Hbonds/*.dat
LinkFile/*.dat
MolClus/*.dat
network/*.dat
Percent/*.dat
python_xclx/*.dat
Raddist/*.dat
Second_half/*.dat

